{% include base_path %}
{% assign current_lang = page.lang | default: site.default_lang %}
{% assign nav_links = site.data.navigation.main[current_lang] | default: site.data.navigation.main[site.default_lang] %}
{% assign lang_home = site.pages | where: "ref", "about" | where: "lang", current_lang | first %}
{% assign lang_home_url = lang_home.url | default: "/" %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}{{ lang_home_url }}">{{ site.title }}</a></li>
          {% for link in nav_links %}
            {% assign link_url = link.url %}
            {% if link.ref %}
              {% assign link_page = site.pages | where: "ref", link.ref | where: "lang", current_lang | first %}
              {% if link_page %}
                {% assign link_url = link_page.url %}
              {% endif %}
            {% endif %}
            {% if link_url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link_url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      {% include language-switcher.html current_lang=current_lang %}
    </div>
  </div>
</div>
